:root {
    --clr-primary-background: #f9f5ff;
    --clr-basic-blue: #5849f5;
    --clr-basic-black: #1d1927;
    --clr-sub-purpleshade: #978ab5;
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

.mobile-navigation {
    visibility: hidden;
    position: fixed;
    top: 90%;
    width: 35px;
    height: 35px;
    background-color: var(--clr-basic-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1.5px solid #fff;
}

.mobile-navigation a {
    color: #fff;
}

.topnavigation {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    box-shadow: 1px 3px 12px var(--clr-primary-background);
    position: fixed;
    z-index: 999;
}

.logo-club {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
}

.navlinks {
    width: 65%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navlinks a {
    position: relative;
    padding: 4px 15px;
    font-family: var(--font-roboto);
    border: 1px solid #c7c7c7bc;
    margin: 5px;
    border-radius: 6px;
    color: #000;
    box-shadow: 1px 2px 10px #eaeaea;
    transition: .2s;
}

.navlinks a:hover {
    background-color: var(--clr-basic-blue);
    border: 1px solid var(--clr-basic-blue);
    color: #fff;
    transition: .2s;
}

.viewport-act {
    width: 80%;
    min-height: 600px;
    margin-inline: auto;
}

.act-header {
    font-family: var(--font-ubuntu);
    font-size: 50px;
    position: relative;
}

.act-header::after {
    position: absolute;
    content: '';
    width: 50px;
    border-radius: 20px;
    height: 8px;
    background-color: var(--clr-basic-blue);
    bottom: 0;
    left: 0;
}

.act-box {
    max-width: 100%;
    min-height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.act-1,
.act-2,
.act-3 {
    width: 380px;
    height: 500px;
    box-shadow: 1px 2px 15px #eeeeee;
    border: 1px solid rgba(201, 201, 201, 0.344);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achead {
    width: 100%;
    height: 80px;
    font-family: var(--font-roboto);
    color: #000;
    font-size: 30px;
}

.act-content {
    width: 80%;
    height: auto;
    font-family: var(--font-ubuntu);
}

.viewport-act button {
    width: 310px;
    margin-top: 40px;
    height: 40px;
    font-family: var(--font-ubuntu);
    background-color: var(--clr-basic-blue);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 6px;;
    cursor: pointer;
}

.viewport-act button:hover {
    background-color: #211979;
    transition: .2s;
}

.lessons-view {
    margin-top: 80px;
    width: 100%;
    min-height: 730px;
    background-color: var(--clr-basic-blue);
    margin-inline: auto;
}

.lesson-cover {
    width: 80%;
    margin-inline: auto;
    min-height: 550px;
    background-color: transparent;
}

.lesson-h {
    position: relative;
    transform: translateY(50px);
    font-size: 50px;
    font-family: var(--font-ubuntu);
    color: #fff;
}

.lesson-h::after {
    position: absolute;
    content: '';
    width: 50px;
    border-radius: 20px;
    height: 8px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.classes {
    margin-top: 100px;
    max-width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
    width: 100%;
    height: 120px;
    background-color: #fff;
    margin-bottom: 20px;
}

@media (max-width: 1042px) {
    .mobile-navigation {
        visibility: visible;
        left: 88%;
    }
    .topnavigation {
        flex-direction: column;
        height: 280px;
        position: relative;
    }

    .navlinks {
        width: 95%;
    }

    .navlinks a {
        margin: 5px;
        font-size: 14px;
    }

    .viewport-act {
        width: 90%;
        margin-top: -100px;
    }

    .act-header {
        font-size: 40px;
    }

    .act-header::after {
        height: 5px;
    }

    .act-box {
        flex-direction: column;
    }

    .act-1,
    .act-2,
    .act-3 {
        width: 100%;
        margin-top: 20px;
        height: 450px;
    }
    .lesson-cover {
        width: 90%;
    }
    .lesson-h {
        font-size: 40px;
    }
    .lesson-h::after {
        height: 5px;
    }
}